h1 {
    color: #8B67DB;
}

h2 {
    color: #8B67DB;
}

h3 {
    color: #8B67DB;
}

h4 {
    color: #8B67DB;
}

h5 {
    color: #8B67DB;
}

h6 {
    color: #8B67DB;
}

hr {
    border: 20px solid white;
}